.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.2rem;
    height: 5.5rem;
    line-height: 5.5rem;
    white-space: nowrap;
    color: var(--color-text-invert);
    font-weight: 600;
    font-size: 1.6rem;
    background-color: var(--color-brand);
    border: none;
    border-radius: 100rem;
    padding: 0 4rem;
    transition: background-color var(--transition);
    box-shadow: 0 2rem 2.5rem -0.5rem rgba(0, 0, 0, .1), 0 0.8rem 1rem -0.6rem rgba(0, 0, 0, .1);
    text-decoration: none;
}

.btn .loader {
    position: absolute;
    display: block;
    width: 2.7rem;
    height: 2.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 300ms;
    pointer-events: none;
    opacity: 0;
}

.btn > :not(.loader) {
    transition: opacity 300ms;
}

.btn.loading > :not(.loader) {
    opacity: 0;
    pointer-events: none;
}

.btn.loading .loader {
    opacity: 1;
}

.btn .loader::after,
.btn .loader::before {
    position: absolute;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

.btn .loader::before {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.btn .loader::after {
    border: 2px solid transparent;
    border-top-color: #fff;
    animation: rotation 0.8s infinite cubic-bezier(.6,.3,.3,.6);

}

.btn:hover {
    background-color: var(--color-brand-hover);
}

.btn__img {
    height: 2rem;
    width: auto;
    filter: var(--filter-invert);
    user-select: none;
}

.btn_small {
    padding: 0.8rem 1.6rem;
    height: auto;
    line-height: 1;
    font-weight: 400;
    column-gap: 0.4rem;
    font-size: 1.2rem;
}

.btn__img_small {
    width: 1.4rem;
    filter: var(--filter-invert);
    user-select: none;
}

.btn_invert {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.btn_invert .btn__img {
    filter: none;
}

.btn__img_invert {
    filter: var(--filter-icon);
}

.btn_invert:hover {
    background-color: #f3f4f6;
}

.btn_border {
    border: 1px solid rgb(226, 232, 240);
}

.btn_light {
    font-size: 1.4rem;
    padding: 0.45em 0.9em;
    font-weight: 600;
    background-color: #f8fafc;
    color: var(--color-text);
    border-radius: 0.5rem;
    box-shadow: none;
    height: auto;
    line-height: 1.7;
}

.btn_light:hover {
    background-color: #f1f5f9;
}

.btn_transparent {
    background-color: transparent;
    box-shadow: none;
    color: var(--color-text);
}

.btn_transparent:hover {
    background-color: #f3f4f6;
}

.btn_compact {
    padding: 0.88em 1.75em;
}
