.btn {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    height: 6rem;
    line-height: 6rem;
    white-space: nowrap;
    color: var(--color-text-invert);
    font-weight: 600;
    font-size: 1.6rem;
    background-color: var(--color-brand);
    border: none;
    border-radius: 100rem;
    padding: 0 4rem;
    transition: background-color var(--transition);
    box-shadow: 0 2rem 2.5rem -0.5rem rgba(0, 0, 0, .1), 0 0.8rem 1rem -0.6rem rgba(0, 0, 0, .1);
}

.btn:hover {
    background-color: var(--color-brand-hover);
}

.btn__img {
    height: 2rem;
    filter: var(--filter-invert);
    user-select: none;
}

.btn_small {
    padding: 0.8rem 1.6rem;
    height: auto;
    line-height: 1;
    font-weight: 400;
    column-gap: 0.4rem;
    font-size: 1.2rem;
}

.btn__img_small {
    width: 1.4rem;
    filter: var(--filter-invert);
    user-select: none;
}

.btn_invert {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.btn__img_invert {
    filter: var(--filter-icon);
}

.btn_invert:hover {
    background-color: #f3f4f6;
}
