.cart-box {
    margin-top: 7rem;
    --cart-box-gap: 16rem;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    column-gap: var(--cart-box-gap);
    align-items: start;
    border-top: 1px solid #e2e8f0;
}

.cart-table {
    position: relative;
    width: 100%;
}

.cart-table::after {
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    background-color: #e2e8f0;
    left: calc(100% + var(--cart-box-gap) / 2);
    top: 4rem;
    bottom: 0;
}

.cart-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.4rem;
    width: 100%;
    padding: 1.5rem 0;
}

.cart-item + .cart-item {
    border-top: 1px solid #e2e8f0;
}

.cart-table__thumb {
    width: 12.8rem;
    aspect-ratio: var(--aspect-ratio-product);
    flex-shrink: 0;
    align-self: flex-start;
}

.cart-table__thumb a {
    width: 100%;
    height: 100%;
}

.cart-table__thumb a img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.cart-table__title {
    font-size: 1.8rem;
}

.cart-table__title a {
    color: inherit;
    text-decoration: none;
}

.cart-table__cnt {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 0.8rem;
    flex-shrink: 0;
}

.cart-item__remove {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: none;
    background-color: transparent;
    column-gap: 0.4rem;
    border-radius: 10rem;
    transition: opacity var(--transition);
    padding: 0.5rem 1rem;
    opacity: 0.85;
    color: var(--color-accent);
    font-weight: 700;
}

.cart-item__remove svg {
    width: 2rem;
    height: 2rem;
}

.cart-item__remove:hover {
    opacity: 1;
}

.cart-table__price {
    white-space: nowrap;
    flex-shrink: 0;
}

.cart-table__total-price {
    font-weight: 700;
    white-space: nowrap;
    flex-shrink: 0;
}

.cart-totals {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 3rem;
    padding: 5.5rem 0;
    position: sticky;
    top: var(--header-offset);
}

.cart-totals__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.8rem;
    column-gap: 4rem;
}

.cart-totals__title {
    font-size: inherit;
    white-space: nowrap;
}

.cart-totals__value {
    font-size: inherit;
    white-space: nowrap;
}
