.form-checkout {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 65%) minmax(0, 35%);
    column-gap: 10rem;
    align-items: start;
}

.form-checkout input {
    max-width: 51.2rem;
}

.form-checkout .col {
    position: sticky;
    top: calc(var(--header-offset) + 3rem);
}

.form-checkout::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(65% - 5rem);
    background-color: #e2e8f0;
}

.checkout-box {
    border-radius: 1rem;
    --padding-box: 2.4rem;
    border: 1px solid #e2e8f0;
}

.checkout-toper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 2.4rem;
    padding: var(--padding-box);
}

.checkout-box__icon {
    color: #334155;
    width: 2.4rem;
    height: 2.4rem;
}

.box-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-right: auto;
}

.box-header__title {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    line-height: 1;
}

.box-header__title svg {
    position: absolute;
    left: calc(100% + 1.2rem);
    top: 50%;
    transform: translateY(-60%);
}

.box-header__success-icon {
    width: 2rem;
    height: 2rem;
    filter: invert(1);
}

.box-header__excerpt {
    font-weight: 700;
    margin-top: 0.6rem;
}

.checkout-box__content {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    padding: var(--padding-box);
    padding-top: calc(var(--padding-box) - 0.2rem);
    border-top: 1px solid #e2e8f0;
    row-gap: 0.8em;
}

.checkout-box__title {
    font-size: 1.8rem;
}

.form__controls {
    margin-top: 0.8rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1.2rem;
}

.checkout-order__submit {
    width: 100%;
    margin-top: 1rem;
}

.checkout-total {
    width: 100%;
    margin-top: 2rem;
    padding-top: 2.5rem;
    border-top: 1px solid #e2e8f0;
}

.checkout-total td,
.checkout-total th {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-text);
    opacity: 1;
}

.checkout-total th {
    text-align: left;
}

.checkout-total td {
    text-align: right;
}
