<main class="product">
    <div class="container">
        <div class="section-header">
            <nav class="section-header__breadcrumbs">
                <a href="index.html">Головна</a>
                <a href="archive-product.html">Магазин</a>
                <span>EcoFlow RIVER 2 Портативне джерело живлення</span>
            </nav>
        </div>
        <div class="product-row">
            <div class="product-galleries">
                <div class="product-gallery slider">
                    <div class="sticker sticker_shadow">
                        <img src="./img/icon-new.svg" alt="зірки" width="14" height="14" loading="lazy">
                        <span>Новинка</span>
                    </div>
                    <div class="slider-row">
                        {% for image in product.images %}
                            <div class="product-gallery__item slide">
                                <img src="{{ image }}" alt="товар" class="product-gallery__img" loading="lazy" width="1000" height="1000">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="product-thumbs slider-thumbs">
                    {% for image in product.images %}
                        <div class="product-thumbs__item slider-thumbs__item" data-index="{{ loop.index0 }}">
                            <img src="{{ image }}" alt="товар" class="product-thumbs__img" loading="lazy" width="1000" height="1000">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="product-info">
                <h1 class="product-info__title">{{ product.title }}</h1>
                <p class="product-info__price product-price">
                    <span class="product-price__s">
                        {{ product.price }} ₴
                    </span>
                    <span class="product-info__reviews">
                        <img src="./img/icon-star.svg" alt="зірка" loading="lazy">
                        <a href="#reviews" class="rate">4.7</a>
                        <span class="sep">·</span>
                        <a href="#reviews" class="cnt">
                            <strong>142 відгука</strong>
                        </a>
                        <span class="sep">·</span>
                        <span class="sticker">
                            <img src="./img/icon-new.svg" alt="зірки" width="14" height="14" loading="lazy">
                            <span>Новинка</span>
                        </span>
                    </span>

                </p>
                <div class="product-info__controls product-controls">
                    <div class="product-controls__qnt">
                        <button type="button" aria-label="зменшити кількість">
                            <img src="./img/icon-minus.svg" alt="мінус">
                        </button>
                        <input type="text" disabled value="1">
                        <button type="button" aria-label="збільшити кількість кількість">
                            <img src="./img/icon-plus.svg" alt="плюс">
                        </button>
                    </div>
                    <div class="product-controls__add-to-cart">
                        <button type="button" class="btn loading">
                            <img src="./img/icon-add-to-cart.svg" alt="корзина" class="btn__img" width="20" height="20">
                            <span class="btn__text">Додати в корзину</span>
                            <span class="loader"></span>
                        </button>
                        <a href="cart.html" class="btn btn_invert">
                            <img src="./img/icon-in-cart.svg" class="btn__img" alt="галочка" width="20" height="20">
                            <span class="btn__text">В корзині</span>
                        </a>
                    </div>
                </div>
                <hr class="product-info__hr">
                <div class="product-info__group">
                    <p class="product-info__subtitle">
                        <span>Опис</span>
                        <img class="minus" src="./img/icon-minus.svg" alt="мінус" width="16" height="16">
                        <img class="plus" src="./img/icon-plus.svg" alt="плюс" width="16" height="16">
                    </p>
                    <p class="product-info__description">{{ product.description }}</p>
                </div>
            </div>
        </div>
        <div class="product-tabs">
            <nav class="tabs-nav">
                <button type="button" data-anchor="#options" class="tabs-nav__button active">Характеристики</button>
                <button type="button" data-anchor="#video" class="tabs-nav__button">Відео</button>
                <button type="button" data-anchor="#analog" class="tabs-nav__button">Аналоги</button>
                <button type="button" data-anchor="#reviews" class="tabs-nav__button">Відгуки</button>
            </nav>
            <div class="tabs-content">
                <div class="tabs-content__item active" id="options">
                    <table class="product__props">
                        <tbody>
                            {% for prop in product.props %}
                                <tr>
                                    <th>{{ prop.label }}</th>
                                    <td>{{ prop.value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tabs-content__item" id="video">
                    <div class="iframe-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Be-mu0mDPiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="tabs-content__item" id="analog">
                    <table class="product__props">
                        <tbody>
                            {% for analog in product.analogs %}
                                <tr>
                                    <td>
                                        <a href="./single-product.html">{{ analog.name }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tabs-content__item" id="reviews">
                    <h2 class="add-review-header">Залишити відгук</h2>
                    <form class="form form-review">
                        <fieldset class="form__fieldset">
                            <label for="comment">Відгук *</label>
                            <textarea name="comment" id="comment" cols="30" rows="6"></textarea>
                        </fieldset>
                        <fieldset class="form__fieldset">
                            <label for="name">Ім'я *</label>
                            <input type="text" name="name" id="name" required>
                        </fieldset>
                        <fieldset class="form__fieldset">
                            <label for="email">Email *</label>
                            <input type="email" name="email" id="email" required>
                        </fieldset>
                        <fieldset class="form__fieldset">
                            <button type="submit" class="btn">
                                <img class="btn__img" src="./img/icon-send.svg" alt="конверт" width="800" height="800" loading="lazy">
                                <span>Надіслати</span>
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
