<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-logo">
                <a href="index.html" class="footer-logo__link">
                    <img src="./img/logo.svg" alt="логотип" loading="lazy" width="162" height="46">
                </a>
            </div>
            <div class="footer-copy">
                © {{ head.siteName }}, 2023. Всі права захищені.
            </div>
        </div>
    </div>
</footer>
<!-- /.footer -->
